<div>
    <h1 mat-dialog-title>NG (Angular CLI)</h1>

    <div mat-dialog-content>
        <div>Quelques commandes : </div>

        <pre><code [highlight]="'$ ng create <project-name>'" [languages]="['bash']"></code></pre>
        <pre><code [highlight]="'$ ng serve'" [languages]="['bash']"></code></pre>
        <pre><code [highlight]="'$ ng ( g | generate ) component \'<path-to-component>/components/<feature-name>\''" [languages]="['bash']"></code></pre>
        <pre><code [highlight]="'$ ng ( g | generate ) service \'<path-to-service>/<service-name>\''" [languages]="['bash']"></code></pre>
        <pre><code [highlight]="'$ ng ( g | generate ) module \'<path-to-modules>/<module-name>\''" [languages]="['bash']"></code></pre>

    </div>

    <div mat-dialog-actions>

    </div>
</div>