<div>
    <h1 mat-dialog-title>Angular</h1>

    <div mat-dialog-content>

        <div class="example-wrapper" fxLayout="column">

            <div class="title">Modules</div>
            <pre><code [highlight]="moduleDesc" [languages]="['typescript']"></code></pre>

            <div class="title">Services</div>
            <pre><code [highlight]="seviceDesc" [languages]="['typescript']"></code></pre>

            <div class="title">Components</div>
            <pre><code [highlight]="compoDesc" [languages]="['typescript']"></code></pre>
            <pre><code [highlight]="compoInjectDesc" [languages]="['html']"></code></pre>

            <div class="title">Route</div>
            <pre><code [highlight]="routeDesc" [languages]="['typescript']"></code></pre>
        </div>

    </div>
</div>