<div>
    <h1 mat-dialog-title>Typescript</h1>

    <div mat-dialog-content>

        <div class="example-wrapper" fxLayout="column">

            <div class="title">Interfaces vs Classes</div>
            <pre><code [highlight]="interfaceTs" [languages]="['typescript']"></code></pre>
            <pre><code [highlight]="classTs" [languages]="['typescript']"></code></pre>

            <div class="title">Les fonctions</div>
            <pre><code [highlight]="fctTs" [languages]="['typescript']"></code></pre>
            <pre><code [highlight]="accessor" [languages]="['typescript']"></code></pre>

            <div class="title">Le typage</div>
            <pre><code [highlight]="typeTs" [languages]="['typescript']"></code></pre>

            <div class="title">Les imports</div>
            <pre><code [highlight]="importTs" [languages]="['typescript']"></code></pre>
        </div>

    </div>
</div>