<h1 mat-dialog-title>NPM (Node Package Manager)</h1>

<div mat-dialog-content>
    <div>Quelques commandes : </div>

    <pre><code [highlight]="'$ npm install (i) <package_name>'" [languages]="['bash']"></code></pre>
    <pre><code [highlight]="'$ npm update (up) <package_name>'" [languages]="['bash']"></code></pre>
    <pre><code [highlight]="'$ npm (install | update ) -g <package_name>'" [languages]="['bash']"></code></pre>
    <pre><code [highlight]="'$ npm ls'" [languages]="['bash']"></code></pre>

    <div>
        <mat-icon color="warn">warning</mat-icon>
        <pre><code [highlight]="'$ npm install -g @angular/cli'" [languages]="['bash']"></code></pre>
    </div>
</div>

<div mat-dialog-actions>

</div>