.center {
    position: relative;
}

#varJsDemo,
#fctJsDemo,
#eventJsDemo {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 100px;
    color: darkcyan;
}

#eventJsDemo {
    cursor: pointer;
}